@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: thin;
    font-family: 'Josefin+Sans';
}
.contentpara{
    color:hsl(0, 0%, 55%) ;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #fff;
}
.container header{
    min-height: 100vh;
    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    padding: 5em 7em;
    color: hsl(0, 0%, 100%);
    position: relative;
}
nav .nav-logo{
    height: 100px; 
    width: 100px;
}
button:hover{
    color: #FFF;
    background: #000;
}
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height :20px;
    /* position: sticky; */
    top :10px;
}
ul li{
    display: inline-block;
    padding: 1em;
}
.nav ul li a{
    position: relative;
}
.nav ul li a::before{
    content: "";
    position:absolute;
    left:0;
    bottom: -4px;
    width: 0;
    background: #ffffff;
    height: 3.5px;
    transition: 0.3s linear;
}
.nav ul li a:hover::before {
    width: 100%; 
}
.hamburger{
    display: none;
}
.logoandclose{
    display:flex;
    justify-content: space-between;
    display: none;
}
.headcontent{
    border: 3px solid #FFF;
    margin-top: 6em;
    width: 70%;
    min-width:542px;
    height: auto;
    padding: 2em;
    /* font-weight: 1px; */
    display: flex;
}
.headcontent p{
    font-size:5em;
}
.content-container{
    padding:0 ;
    height: 100vh;
}
.row2{
    height: 100%;
    display: flex;
    position: relative;
    padding: 5em;
}
.img{
    width: 60%;
    height:100%;
    background-image: url(images/desktop/image-interactive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.vr{
    max-width: 50%;
     max-width: 640px; 
     max-height:350px;
    padding: 3.5em;
    position: absolute;
    background: #fff;
    bottom: 0;
    right: 30px;
}
.vr p{
    padding: 1em 0;
}
.creation-container{
    padding: 5em;
    margin-top:4em;
    /* display: flex; */
}
.creation-title{
    display: flex;
    justify-content:space-between;
}
.see-all{
    padding: 10px 40px;
    border: 1px solid #000;
    background: #fff;
}
.photo{
    width: 256px;
    height:450px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    display: flex;
    align-items: end;
}
.photo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.photo-title{
    color: #fff;
    padding: 1em;
    position: absolute;
}
.creation-photos{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(256px,1fr));
    row-gap: 2em;
    grid-column-gap: 2em;
}

footer{
    width: 100vw;
    margin:4em 0;
    background: #000;
    margin-top: 4em;
    padding:1em 5em;
    display: flex;
    justify-content: space-between;
}
#copyright{
    color: hsl(0, 0%, 55%);
    padding: 1em 0;
}
footer ul li{
    padding: 1em 0;
    padding-right: 1em;
}
.footdiv2 {
display: flex;
flex-direction: column;
align-items: end;
}
i{
    padding-right: .5em;
}


@media(max-width:860px){
    .hamburger{
        display: block;
    }
    .container header{
        padding:2em;
    }
    .headcontent{
        padding: 1em;
        min-width:0;
        width:auto;

    }
    .nav-logo img{
        width: 60%;
    }
    .nav{
        display:none;
        background: #000000;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
    }
    #nav_check:checked ~ .nav{
        display: block;   
    }
    #nav_check:checked ~ .hamburger{
        display:none
    }
    .logoandclose{
        display:flex;
        justify-content: space-between;
    }
    ul li{
        display: block;
        padding: 10px 10px;
    }
    header nav{
        flex-direction: column;
    }
    .row2 .vr{
        max-width:550px;
        padding:2em;
    }
}

@media(max-width:650px){
    .container header{
        background-image: url(images/mobile/image-hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
        width: 100vw;
        padding:1.5em 1em;
    }
    .headcontent p{
        font-size:2em;
    }
    .see-all{
        display: none;
    }
    .headcontent{
        padding: 1em;
        min-width:0;
        width:auto;

    }
    .row2{
        flex-direction: column;
        padding:1em;
    }
    .row2 .vr{
        position:unset;
        bottom:100px;
        text-align: center;
    }
    .content-container{
        min-height: 100vh;
        height: auto;
    }
    .creation-container{
        padding:1em;
        margin-top: 4em;
    }
    .img{
        height: 50vh;
        width: 100%;
        background-image: url(images/mobile/image-interactive.jpg);

    }
    
    .nav{
        display:none;
        background: #000000f0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
    #nav_check:checked~ #hideinnav{
        display: none;
    }
    footer{
    flex-direction: column;
    }
    .footdiv1{
        text-align: center;
    }
    .footdiv2{
        padding-top:2em;
        align-items: center;
    }
    .divbtn-see{
        display: flex;
        justify-content: center;
    }
    .mobilesee-all{
        display: block;
        margin-top: 10px;
    }
    .photo{
        width: 100%;
        height:auto;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: cover;
        display: flex;
        align-items: end;

    }
    .creation-photos{
        grid-template-columns: 1fr ;
    }
    .photo img{
        object-fit: contain;
        width: 100%;
        
    }
    .photo-title{
        padding: .2em;
    }
    footer{
        margin-bottom: 0;
    }
    #copyright{
        text-align: center;
    }

}
